<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<header class="header">
  <div class="navbar-class">
    <div class="container">


      <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav">
        <li class="active"><%=link_to "Home", employees_path %></li>
        <li><%=link_to "ABOUT"%></li>
        <li><%=link_to "OUR SERVICES" %></li>
        <li><%=link_to "RATES" %></li>
        <li><%=link_to'CAREERS'%></li>
        <li><a href="#">TRAINING</a></li>
        <li><%= link_to"GALLERY" %></li>
        <li><%=link_to"MEDIA"%></li>
        <li><%=link_to"FAQS"%></li>
        <li><a href="#">CONTACT</a></li>
      </ul>


    </div>
  </div>
</header>
<%= yield %>

</body>
<footer class="footer">
  <div class="navbar-class" style="height: 30px">
    <ul class="nav navbar-nav">
      <div align="right">
        @copyrights2017
      </div>
    </ul>
      </div>
</footer>
</html>
